/* This CSS code adds a pseudo-element before the body element, creating a block with a specified height. */
/* a gohst element to push showcase section down */
body::before {
  display: block;
  content: "";
  height: 60px;
}

/* This media query applies styles to .news-input class when the viewport width is 768px or more. */
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/* Custom CSS for equal height cards */
.equal-height {
  display: flex;
  align-items: stretch;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
